
.scoreboard {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	background-color: rgba(0,0,0,0.6);
	z-index: 2;
	height: 100vh;
	padding: .5em;
	overflow: scroll;
}

.table-container {
	width: 80%;
	background-color: white;
	margin: auto;
	padding-top: 1em;
	overflow: scroll;
}

.hidden {
	display: none;
}

.score-btn {
	display: block;
	position: absolute;
	right: .5rem;
	top: .3rem;
	height: 2rem;
	width: 2rem;
	background-color: #0887AF;
	z-index: 3;
}

th, td, table {
	border : 1px solid #222222;
	border-collapse: collapse;
}

table {
	max-width: 80%;
	margin: auto;
}

td,th {
	padding: .3em 1em;
}

.picked {
	background-color: orange;
}

#total {
	font-weight: bold;
}